a:-webkit-any-link{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: underline;
}
.article-header-author:hover{
  text-decoration: underline;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  height:100%;
	width:100%;
  margin: 0;
  background-color: #fffffe;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}


h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
  margin: 5px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal
}

header {
  width: 100%;
  background-color: #f8f5f2;
  top: 0;
  display: grid;
  justify-items: center;
  color: #232323;
}

#nav-bar {
  width: 100%;
  background-color: #f8f5f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  background-color: #f45d48;
  margin-bottom: 10px;
}

.nav-button {
  padding: 15px;
  color: #f8f5f2;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

#header-icon {
  padding: 10px;
  height: 80px;
}

#user-icon {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: #f45d48;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  place-items: center;
  justify-content: center;
}

#user-icon img {
  height: 100%;
  object-fit: cover;
}

ul {
  display: flex;
}

li {
  padding: 0 5px;
}

.article-box-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 80%;
  min-width: 80%
}

.article-box {
  background-color: #f8f5f2;
  min-width: 1000px;
  max-width: 1000px;
  border-radius: 5px;
  margin: 10px;
}

.comments-box {
  justify-self: center;
  width: 98%;
  padding: 5px;
}

.comment-wrapper {
  display: flex;
  flex-direction:column;
  background-color: #fffffe;
  border: 3px solid #f8f5f2;
  border-radius: 20px;
}

.no-comments-card {
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color: #fffffe;
  border: 3px solid #f8f5f2;
  border-radius: 20px;
  height: 50px;
}

.no-comments-card p {
  color: #232323;
  font-size:medium;
  margin: 0;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 5px;
}


.article-card-title {
  color: #232323;
  font-size:large;
  padding: 5px;
  margin: 0;
}

.article-card-info {
  color: #232323;
  font-size:medium;
  padding: 5px;
  margin: 0;
}

.article-card-author {
  color: #078080;
  font-size:medium;
  padding: 5px;
  margin: 0;
  width: 150px;
}

#article-header {
  display: flex; 
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#article-title {
  color: #232323;
  font-size:large;
  margin: 0.5em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.text-author {
  color: #078080;
  font-size:medium;
  margin: 0;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 150px;
}

.text-info {
  color: #232323;
  font-size:medium;
  margin: 0;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.text-body {
  color: #232323;
  font-size:medium;
  margin: 0.5em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

#user-profile-container {
  display: flex;
  flex-direction: column;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#user-profile-image-container {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: #f45d48;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  place-items: center;
  justify-content: center;
}

#profile-icon {
  height: 100%;
  object-fit: cover;
}

#profile-icon img {
  height: 100%;
  object-fit: cover;
}

.user-selector {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size:xx-large;
    text-align: center;
  }

  h2 {
    font-size: larger;
  }

  .article-box-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .article-box {
    background-color: #f8f5f2;
    max-width:min-content;
    min-width: 400px;
    border-radius: 5px;
    text-wrap: wrap;
    margin: 10px;
  } 

  .article-title {
    color: #232323;
    font-size: medium;
  }
  
  .article-info {
    color: #078080;
    font-size: small;
  }

}